NET "adl[0]" LOC=P40;
NET "adl[0]" DRIVE=4;
NET "adl[1]" LOC=P34;
NET "adl[1]" DRIVE=4;
NET "adl[2]" LOC=P32;
NET "adl[2]" DRIVE=4;
NET "adl[3]" LOC=P29;
NET "adl[3]" DRIVE=4;
NET "adl[4]" LOC=P24;
NET "adl[4]" DRIVE=4;
NET "adl[5]" LOC=P21;
NET "adl[5]" DRIVE=4;
NET "adh[0]" LOC=P16;
NET "adh[0]" DRIVE=4;
NET "adh[1]" LOC=P14;
NET "adh[1]" DRIVE=4;
NET "adh[2]" LOC=P11;
NET "adh[2]" DRIVE=4;
NET "adh[3]" LOC=P9;
NET "adh[3]" DRIVE=4;
NET "adh[4]" LOC=P7;
NET "adh[4]" DRIVE=4;
NET "adh[5]" LOC=P50;
NET "adh[5]" DRIVE=4;
NET "dbh[0]" LOC=P139;
NET "dbh[1]" LOC=P141;
NET "dbh[2]" LOC=P143;
NET "dbh[3]" LOC=P1;
NET "lp" LOC=P137;
NET "ce" LOC=P133;
NET "rw" LOC=P131;
NET "dbl[7]" LOC=P121;
NET "dbl[7]" DRIVE=4;
NET "dbl[6]" LOC=P119;
NET "dbl[6]" DRIVE=4;
NET "dbl[5]" LOC=P117;
NET "dbl[5]" DRIVE=4;
NET "dbl[4]" LOC=P115;
NET "dbl[4]" DRIVE=4;
NET "dbl[3]" LOC=P111;
NET "dbl[3]" DRIVE=4;
NET "dbl[2]" LOC=P112;
NET "dbl[2]" DRIVE=4;
NET "dbl[1]" LOC=P104;
NET "dbl[1]" DRIVE=4;
NET "dbl[0]" LOC=P105;
NET "dbl[0]" DRIVE=4;
NET "cas" LOC=P58;
NET "cas" DRIVE=4;
NET "ras" LOC=P67;
NET "ras" DRIVE=4;
NET "clk_phi" LOC=P75;
NET "clk_phi" DRIVE=4;
NET "aec" LOC=P79;
NET "aec" DRIVE=4;
NET "ba" LOC=P81;
NET "ba" DRIVE=4;
NET "ls245_data_oe" LOC=P102;
NET "ls245_data_oe" DRIVE=4;
NET "ls245_data_dir" LOC=P100;
NET "ls245_data_dir" DRIVE=4;
NET "ls245_addr_dir" LOC=P5;
NET "ls245_addr_dir" DRIVE=4;
NET "ls245_addr_oe" LOC=P8;
NET "ls245_addr_oe" DRIVE=4;
NET "irq" LOC=P88;
NET "irq" DRIVE=4;
NET "cpu_reset" LOC=P98;
NET "cpu_reset" DRIVE=4;
NET "red[3]" LOC=P140;
NET "red[3]" DRIVE=4;
NET "red[2]" LOC=P138;
NET "red[2]" DRIVE=4;
NET "red[1]" LOC=P134;
NET "red[1]" DRIVE=4;
NET "red[0]" LOC=P132;
NET "red[0]" DRIVE=4;
NET "green[3]" LOC=P126;
NET "green[3]" DRIVE=4;
NET "green[2]" LOC=P127;
NET "green[2]" DRIVE=4;
NET "green[1]" LOC=P123;
NET "green[1]" DRIVE=4;
NET "green[0]" LOC=P124;
NET "green[0]" DRIVE=4;
NET "blue[3]" LOC=P118;
NET "blue[3]" DRIVE=4;
NET "blue[2]" LOC=P120;
NET "blue[2]" DRIVE=4;
NET "clk_dot4x_ext" LOC=P114;
NET "clk_dot4x_ext" DRIVE=4;
NET "blue[1]" LOC=P116;
NET "blue[1]" DRIVE=4;
NET "blue[0]" LOC=P99;
NET "blue[0]" DRIVE=4;
NET "active" LOC=P101;
NET "active" DRIVE=4;
NET "hsync" LOC=P94;
NET "hsync" DRIVE=4;
NET "vsync" LOC=P97;
NET "vsync" DRIVE=4;
NET "sys_clock" LOC=P56;