NET "adl[0]" LOC=P23;
NET "adl[0]" DRIVE=2;
NET "adl[0]" SLEW=QUIETIO;
NET "adl[1]" LOC=P29;
NET "adl[1]" DRIVE=2;
NET "adl[1]" SLEW=QUIETIO;
NET "adl[2]" LOC=P30;
NET "adl[2]" DRIVE=2;
NET "adl[2]" SLEW=QUIETIO;
NET "adl[3]" LOC=P32;
NET "adl[3]" DRIVE=2;
NET "adl[3]" SLEW=QUIETIO;
NET "adl[4]" LOC=P33;
NET "adl[4]" DRIVE=2;
NET "adl[4]" SLEW=QUIETIO;
NET "adl[5]" LOC=P21;
NET "adl[5]" DRIVE=2;
NET "adl[5]" SLEW=QUIETIO;
NET "adh[0]" LOC=P16;
NET "adh[0]" DRIVE=2;
NET "adh[0]" SLEW=QUIETIO;
NET "adh[1]" LOC=P14;
NET "adh[1]" DRIVE=2;
NET "adh[1]" SLEW=QUIETIO;
NET "adh[2]" LOC=P11;
NET "adh[2]" DRIVE=2;
NET "adh[2]" SLEW=QUIETIO;
NET "adh[3]" LOC=P9;
NET "adh[3]" DRIVE=2;
NET "adh[3]" SLEW=QUIETIO;
NET "adh[4]" LOC=P7;
NET "adh[4]" DRIVE=2;
NET "adh[4]" SLEW=QUIETIO;
NET "adh[5]" LOC=P24;
NET "adh[5]" DRIVE=2;
NET "adh[5]" SLEW=QUIETIO;
NET "dbh[0]" LOC=P144;
NET "dbh[1]" LOC=P143;
NET "dbh[2]" LOC=P2;
NET "dbh[3]" LOC=P1;
NET "rw" LOC=P141;
NET "ce" LOC=P142;
NET "lp" LOC=P139;
NET "rwo" LOC=P105;
NET "rwo" DRIVE=2;
NET "rwo" SLEW=QUIETIO;
NET "dbl[7]" LOC=P93;
NET "dbl[7]" DRIVE=2;
NET "dbl[7]" SLEW=QUIETIO;
NET "dbl[6]" LOC=P94;
NET "dbl[6]" DRIVE=2;
NET "dbl[6]" SLEW=QUIETIO;
NET "dbl[5]" LOC=P88;
NET "dbl[5]" DRIVE=2;
NET "dbl[5]" SLEW=QUIETIO;
NET "dbl[4]" LOC=P97;
NET "dbl[4]" DRIVE=2;
NET "dbl[4]" SLEW=QUIETIO;
NET "dbl[3]" LOC=P100;
NET "dbl[3]" DRIVE=2;
NET "dbl[3]" SLEW=QUIETIO;
NET "dbl[2]" LOC=P99;
NET "dbl[2]" DRIVE=2;
NET "dbl[2]" SLEW=QUIETIO;
NET "dbl[1]" LOC=P102;
NET "dbl[1]" DRIVE=2;
NET "dbl[1]" SLEW=QUIETIO;
NET "dbl[0]" LOC=P101;
NET "dbl[0]" DRIVE=2;
NET "dbl[0]" SLEW=QUIETIO;
NET "cas" LOC=P51;
NET "cas" DRIVE=2;
NET "cas" SLEW=QUIETIO;
NET "ras" LOC=P50;
NET "ras" DRIVE=2;
NET "ras" SLEW=QUIETIO;
NET "clk_phi" LOC=P41;
NET "clk_phi" DRIVE=2;
NET "clk_phi" SLEW=QUIETIO;
NET "aec" LOC=P40;
NET "aec" DRIVE=2;
NET "aec" SLEW=QUIETIO;
NET "ba" LOC=P58;
NET "ba" DRIVE=2;
NET "ba" SLEW=QUIETIO;
NET "irq" LOC=P111;
NET "irq" DRIVE=2;
NET "irq" SLEW=SLOW;
NET "ls245_addr_dir" LOC=P34;
NET "ls245_addr_dir" DRIVE=4;
NET "ls245_addr_dir" SLEW=SLOW;
NET "ls245_data_dir" LOC=P83;
NET "ls245_data_dir" DRIVE=4;
NET "ls245_data_dir" SLEW=SLOW;
NET "ls245_data_oe" LOC=P95;
NET "ls245_data_oe" DRIVE=4;
NET "ls245_data_oe" SLEW=SLOW;
NET "cpu_reset" LOC=P112;
NET "cpu_reset" DRIVE=4;
NET "cpu_reset" SLEW=SLOW;
NET "red[0]" LOC=P118;
NET "red[0]" DRIVE=2;
NET "red[0]" SLEW=QUIETIO;
NET "red[1]" LOC=P119;
NET "red[1]" DRIVE=2;
NET "red[1]" SLEW=QUIETIO;
NET "red[3]" LOC=P121;
NET "red[3]" DRIVE=2;
NET "red[3]" SLEW=QUIETIO;
NET "red[2]" LOC=P120;
NET "red[2]" DRIVE=2;
NET "red[2]" SLEW=QUIETIO;
NET "green[0]" LOC=P114;
NET "green[0]" DRIVE=2;
NET "green[0]" SLEW=QUIETIO;
NET "green[1]" LOC=P115;
NET "green[1]" DRIVE=2;
NET "green[1]" SLEW=QUIETIO;
NET "green[2]" LOC=P116;
NET "green[2]" DRIVE=2;
NET "green[2]" SLEW=QUIETIO;
NET "green[3]" LOC=P117;
NET "green[3]" DRIVE=2;
NET "green[3]" SLEW=QUIETIO;
NET "blue[0]" LOC=P126;
NET "blue[0]" DRIVE=2;
NET "blue[0]" SLEW=QUIETIO;
NET "blue[1]" LOC=P131;
NET "blue[1]" DRIVE=2;
NET "blue[1]" SLEW=QUIETIO;
NET "blue[2]" LOC=P138;
NET "blue[2]" DRIVE=2;
NET "blue[2]" SLEW=QUIETIO;
NET "blue[3]" LOC=P140;
NET "blue[3]" DRIVE=2;
NET "blue[3]" SLEW=QUIETIO;
NET "clk_dot4x_ext" LOC=P134;
NET "clk_dot4x_ext" DRIVE=4;
NET "clk_dot4x_ext" SLEW=SLOW;
NET "active" LOC=P127;
NET "active" DRIVE=4;
NET "active" SLEW=SLOW;
NET "hsync" LOC=P123;
NET "hsync" DRIVE=4;
NET "hsync" SLEW=SLOW;
NET "vsync" LOC=P124;
NET "vsync" DRIVE=4;
NET "vsync" SLEW=SLOW;
NET "is_15khz" LOC=P62;
NET "is_hide_raster_lines" LOC=P65;
NET "chip[0]" LOC=P46;
NET "chip[1]" LOC=P61;
NET "tx" LOC=P59;
NET "tx" DRIVE=8;
NET "tx" SLEW=FAST;
NET "cclk" LOC=P70;
NET "sys_clock" LOC=P56;
NET "sys_clock" CLOCK_DEDICATED_ROUTE = FALSE;
NET "sys_clock" TNM_NET = clk;
TIMESPEC TS_sys_clock = PERIOD "clk" 50 MHz HIGH 50%;
