# WARNING: NOT COMPATIBLE WITH 'HAT' PCB
# #
# Use this top.ucf ONLY to test DVI output
# on the MojoV3 dev board. It is not compatible
# with the 'hat' PCB that can plug into the
# VICII socket since all the pins are not LOC'd
# to the right locations.  For the test, edit
# registers.v and force a blue screen with border
# and hook up DVI to the 8 TMDS pins + 5V and GND.
NET "adl[0]" DRIVE=2;
NET "adl[0]" SLEW=QUIETIO;
NET "adl[1]" DRIVE=2;
NET "adl[1]" SLEW=QUIETIO;
NET "adl[2]" DRIVE=2;
NET "adl[2]" SLEW=QUIETIO;
NET "adl[3]" DRIVE=2;
NET "adl[3]" SLEW=QUIETIO;
NET "adl[4]" DRIVE=2;
NET "adl[4]" SLEW=QUIETIO;
NET "adl[5]" DRIVE=2;
NET "adl[5]" SLEW=QUIETIO;
NET "adh[0]" DRIVE=2;
NET "adh[0]" SLEW=QUIETIO;
NET "adh[1]" DRIVE=2;
NET "adh[1]" SLEW=QUIETIO;
NET "adh[2]" DRIVE=2;
NET "adh[2]" SLEW=QUIETIO;
NET "adh[3]" DRIVE=2;
NET "adh[3]" SLEW=QUIETIO;
NET "adh[4]" DRIVE=2;
NET "adh[4]" SLEW=QUIETIO;
NET "adh[5]" DRIVE=2;
NET "adh[5]" SLEW=QUIETIO;
NET "rwo" DRIVE=2;
NET "rwo" SLEW=QUIETIO;
NET "dbl[7]" DRIVE=2;
NET "dbl[7]" SLEW=QUIETIO;
NET "dbl[6]" DRIVE=2;
NET "dbl[6]" SLEW=QUIETIO;
NET "dbl[5]" DRIVE=2;
NET "dbl[5]" SLEW=QUIETIO;
NET "dbl[4]" DRIVE=2;
NET "dbl[4]" SLEW=QUIETIO;
NET "dbl[3]" DRIVE=2;
NET "dbl[3]" SLEW=QUIETIO;
NET "dbl[2]" DRIVE=2;
NET "dbl[2]" SLEW=QUIETIO;
NET "dbl[1]" DRIVE=2;
NET "dbl[1]" SLEW=QUIETIO;
NET "dbl[0]" DRIVE=2;
NET "dbl[0]" SLEW=QUIETIO;
NET "cas" DRIVE=2;
NET "cas" SLEW=QUIETIO;
NET "ras" DRIVE=2;
NET "ras" SLEW=QUIETIO;
NET "clk_phi" DRIVE=2;
NET "clk_phi" SLEW=QUIETIO;
NET "aec" DRIVE=2;
NET "aec" SLEW=QUIETIO;
NET "ba" DRIVE=2;
NET "ba" SLEW=QUIETIO;
NET "irq" DRIVE=2;
NET "irq" SLEW=SLOW;
NET "ls245_addr_dir" DRIVE=4;
NET "ls245_addr_dir" SLEW=SLOW;
NET "ls245_data_dir" DRIVE=4;
NET "ls245_data_dir" SLEW=SLOW;
NET "ls245_data_oe" DRIVE=4;
NET "ls245_data_oe" SLEW=SLOW;
NET "cpu_reset" DRIVE=4;
NET "cpu_reset" SLEW=SLOW;
NET "red[0]" DRIVE=2;
NET "red[0]" SLEW=QUIETIO;
NET "red[1]" DRIVE=2;
NET "red[1]" SLEW=QUIETIO;
NET "red[3]" DRIVE=2;
NET "red[3]" SLEW=QUIETIO;
NET "red[2]" DRIVE=2;
NET "red[2]" SLEW=QUIETIO;
NET "green[0]" DRIVE=2;
NET "green[0]" SLEW=QUIETIO;
NET "green[1]" DRIVE=2;
NET "green[1]" SLEW=QUIETIO;
NET "green[2]" DRIVE=2;
NET "green[2]" SLEW=QUIETIO;
NET "green[3]" DRIVE=2;
NET "green[3]" SLEW=QUIETIO;
NET "blue[0]" DRIVE=2;
NET "blue[0]" SLEW=QUIETIO;
NET "blue[1]" DRIVE=2;
NET "blue[1]" SLEW=QUIETIO;
NET "blue[2]" DRIVE=2;
NET "blue[2]" SLEW=QUIETIO;
NET "blue[3]" DRIVE=2;
NET "blue[3]" SLEW=QUIETIO;
NET "clk_dot4x_ext" DRIVE=4;
NET "clk_dot4x_ext" SLEW=SLOW;
NET "active" DRIVE=4;
NET "active" SLEW=SLOW;
NET "hsync" DRIVE=4;
NET "hsync" SLEW=SLOW;
NET "vsync" DRIVE=4;
NET "vsync" SLEW=SLOW;
NET "is_15khz" LOC=P62;
NET "is_hide_raster_lines" LOC=P65;
NET "chip[0]" LOC=P46;
NET "chip[1]" LOC=P61;
NET "tx" LOC=P59;
NET "tx" DRIVE=8;
NET "tx" SLEW=FAST;
NET "rx" LOC=P55;
NET "tx" DRIVE=8;
NET "tx" SLEW=FAST;
NET "cclk" LOC=P70;
NET "sys_clock" LOC=P56;
NET "sys_clock" CLOCK_DEDICATED_ROUTE = FALSE;
NET "sys_clock" TNM_NET = clk;
TIMESPEC TS_sys_clock = PERIOD "clk" 50 MHz HIGH 50%;

NET "clk_dot4x" TNM_NET = FFS "GRP_1";
NET "sys_clock_IBUFG_BUFG" TNM_NET = FFS "GRP_2";
TIMESPEC TS_except1 = FROM "GRP_1" TO "GRP_2" TIG;

# Tell ISE not to use these pins as they are
# hard-wired to the MCU or are used for other
# purposes already.
CONFIG PROHIBIT = P47;
CONFIG PROHIBIT = P60;
CONFIG PROHIBIT = P69;
CONFIG PROHIBIT = P64;
CONFIG PROHIBIT = P39;
CONFIG PROHIBIT = P43;
CONFIG PROHIBIT = P44;
CONFIG PROHIBIT = P45;
CONFIG PROHIBIT = P48;

# This is where our TMDS lines are going
# to go.
NET "TX0_TMDS[3]" LOC=P144;
NET "TX0_TMDS[3]" IOSTANDARD=TMDS_33;
NET "TX0_TMDSB[3]" LOC=P143;
NET "TX0_TMDSB[3]" IOSTANDARD=TMDS_33;
NET "TX0_TMDS[2]" LOC=P142;
NET "TX0_TMDS[2]" IOSTANDARD=TMDS_33;
NET "TX0_TMDSB[2]" LOC=P141;
NET "TX0_TMDSB[2]" IOSTANDARD=TMDS_33;
NET "TX0_TMDS[1]" LOC=P140;
NET "TX0_TMDS[1]" IOSTANDARD=TMDS_33;
NET "TX0_TMDSB[1]" LOC=P139;
NET "TX0_TMDSB[1]" IOSTANDARD=TMDS_33;
NET "TX0_TMDS[0]" LOC=P138;
NET "TX0_TMDS[0]" IOSTANDARD=TMDS_33;
NET "TX0_TMDSB[0]" LOC=P137;
NET "TX0_TMDSB[0]" IOSTANDARD=TMDS_33;
